/***************************************************************
****                        GERAL                           ****
***************************************************************/
*{
	margin: 0;
	padding: 0;
}
html, body{
	height		: 100%;
	z-index		: 1;
	text-align	: center;
}

.geral{
	position:relative;
	min-height:100%;
    width: 100%;
	overflow: hidden; 
}
.wrap{
	margin-bottom: 114px;	/* 104px do rodapé + 10px de espaçamento */
}
@media only screen and  (max-width:480px){
	.wrap{margin-bottom: 137px;}
}
p{
	font-size:1.2em;
}
/***************************************************************
****                  NAVBAR E RODAPÉ                       ****
***************************************************************/
.navbar{
	background-color: rgb(225, 225, 225);
	border-bottom:1px solid rgb(150, 150, 150);
}
.navbar-brand{
	font-size: 2em;
}
.navbar a{
	cursor: pointer;
}
.rodape{
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	
	position:absolute;
    bottom:0;
    width:100%;
	
	background-color: rgb(225, 225, 225);	
	border-top:1px solid rgb(150, 150, 150);
}
.rodape p{
	margin: 0px;
	padding: 0px;
	font-size: 1.2em;
}
.rodape a{
	font-size: 2.5em;
	margin: 3px 3px 3px 3px;
	color: rgb(80, 80, 80);
	text-decoration:none;
	transition: 0.5s;
}
.rodape a:hover{
	color:rgb(0, 114, 5);
	transition: 0.5s;
}

/***************************************************************
****                    QUESTIONÁRIO                        ****
***************************************************************/

/* Cores e estética */
.col-principal{
	/* background-color: rgb(143, 186, 143); */
	background: linear-gradient(rgb(135, 186, 135), rgb(170, 186, 170));
}
.col-resposta{
	cursor: pointer;
	text-align: left;
}
.verde{
	/* background-color: rgb(196, 255, 196); */
	background: linear-gradient(rgb(190, 255, 190), rgb(220, 255, 220));
}

@media only screen and  (min-width:992px){
	.col-principal, .col-resposta{
		min-height: 530px;
	}
}

#questionario, #grafico{
	display: none;
}

/***************************************************************
****                       TABELA                           ****
***************************************************************/
.table{
   background-color: rgba(255, 255, 255, 0.2);
}


/***************************************************************
****                      BOOTSTRAP                         ****
***************************************************************/
.modal-body p{
	text-align	: left;
}