<!-------------------------------------------------------------
Author: 		W3layouts
Author URL: 	http://w3layouts.com
Edited by:		Leonardo Benitez 
License: 		Creative Commons Attribution 3.0 Unported
License URL:	http://creativecommons.org/licenses/by/3.0/
------------------------------------------------------------->

<!DOCTYPE html>
<html>
<head>
	<!-- Definião Iniciais -->
	<title>Empresa Júnior</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible"	content="IE=edge,chrome=1" />
	<meta name="description"			content="Descubra um pouco mais sobre a empresa júnior do departamento, a R2R Tecnologia." />
	<meta name="keywords"				content="R2R, empresa junior, Colmeia, DAELN, IFSC" />
	<meta name="author"					content="Leonardo Benitez" />
	<meta name="viewport"				content="width=device-width, initial-scale=1" />
	<meta name="robots" 				content="index,follow" />
	<meta http-equiv="content-language"	content="pt-br" />
	<link rel="icon"					href="../../model/favicon.ico"  type="shortcut icon" />

	<!-- CSS -->
	<link rel="stylesheet"				href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet"				href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet"				href="../../recursos/css/style.css" />	
</head>

<body>
	<!-- Navbar -->
	<nav id="navbar" class="banner inner-banner-w3l"></nav>
	
	<!-- Conteúdo -->
	<section class="inner-padding">
		<div class="container">
			<h3 class="heading-agileinfo">Empresa Júnior<span>Somos empreendedores por natureza.</span></h3>
			<div class="clearfix"> </div>
			<a href="http://www.r2rtecnologia.com.br/" target="_blanck"><img class="center-block" src="https://media-exp2.licdn.com/media-proxy/ext?w=800&h=800&hash=fCSyhGs9Ln3hPAgrRPaCQWswRv8%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta5g-0R6nlh8Tw1It6a2FowGz60oISIfYC2G8G2f1spyfNT-tdoDSeLKjoEtOdSkGlBJkcrG-GGGiSp77coKmF94mnpWXRtKnb1YWezccj2Ruz5RpGxty7b_2QLjUJiFc07EJKH2eMp_LRGYHDi4F8PyuAdXUP2wk_3S8fJ2zOtRkaKNjqaRIk2h6qsPnDP9v0IttnD5s_kqd26OsZjcl3oWAOW6JOGkdWUGQLu9UmIakx2Cjun_coFvxr5-mFoOmIPQxnk_548LIRi-q2EpbmjU8gC0g0MRwL2eFgNEavUCn"/></a>
		</div>
	</section>
	
	<!-- Back to the top -->
	<br><br>
	<a href="#navbar" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

	<!-- Rodapé -->
	<footer id="rodape"></footer>

	<!-- Javascript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../../recursos/js/SmoothScroll.min.js"></script>
	<script src="../../recursos/js/move-top.js"></script>
	<script src="../../recursos/js/easing.js"></script>
	<script>
		jQuery(document).ready(function($) {
			$().UItoTop({});
			
			$("#navbar").load("../../recursos/html/navbar.html #segundo_nivel", function(){$("#sobre_nos").addClass("active");});
			$("#rodape").load("../../recursos/html/rodape.html #segundo_nivel");	
		});
	</script>
</body>
</html>