<!-------------------------------------------------------------
Author: 		W3layouts
Author URL: 	http://w3layouts.com
Edited by:		Leonardo Benitez 
License: 		Creative Commons Attribution 3.0 Unported
License URL:	http://creativecommons.org/licenses/by/3.0/
------------------------------------------------------------->

<!DOCTYPE html>
<html>
<head>
	<!-- Definião Iniciais -->
	<title>Sobre Nós</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible"	content="IE=edge,chrome=1" />
	<meta name="description"			content="Página de informações sobre o projeto e sobre o departamento." />
	<meta name="keywords"				content="Colmeia, DAELN, IFSC" />
	<meta name="author"					content="Leonardo Benitez" />
	<meta name="viewport"				content="width=device-width, initial-scale=1" />
	<meta name="robots" 				content="index,follow" />
	<meta http-equiv="content-language"	content="pt-br" />
	<link rel="icon"					href="../../model/favicon.ico"  type="shortcut icon" />

	<!-- CSS -->
	<link rel="stylesheet"				href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet"				href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet"				href="../../recursos/css/style.css" />	
	<link rel="stylesheet"				href="../../recursos/css/lightcase.css"  />
</head>

<body>
	<!-- Navbar -->
	<nav id="navbar" class="banner inner-banner-w3l"></nav>
	
	<!-- Sobre Nós - Introdução -->
	<section class="about-bottom inner-padding">
		<div class="container">
			<h3 class="heading-agileinfo">Sobre Nós<span>Vivencie uma educação de excelência</span></h3>
			<div class="about-bott-right">
				 <h5>Departamento Acadêmico de Eletrônica</h5>
				 <p>Estamos a mais de 30 anos formando profissionais qualificados e cidadãos consciente, sempre procurado contribuir para o coletivo da Instituição propondo, interferindo e atuando nos momentos educativos, pedagógicos, administrativos, políticos e sociais.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</section>
	
	<!-- Tour Virtual -->
	<section class="about-agile background-1 inner-padding">
		<div class="container">
			<h3 class="heading-agileinfo white-w3ls">Faça um Tour Virtual<span class="yellow-w3ls">Explore, descubra, aprenda.</span></h3>
			<p>Venha conhecer nossa instituição através deste interessantíssimo Tour.</p>
			<div class="more-button">
				<a href="tour_virtual.html">Saiba mais</a>
			</div>
		</div>
	</section>

	<!-- Túnel do Tempo --> 
	<section class="events-agileits-w3layouts">
		<h3 class="heading-agileinfo">Túnel do Tempo<span>Experiência e tradição</span></h3>
		<div class="popular-grids">
			<div class="col-md-3 popular-grid pointer" data-toggle="modal" data-target="#modal_tunel_1">
				<img src="../../model/sobre_nos/tunel_do_tempo/1.jpg" class="img-responsive" alt=""/>
				<div class="popular-text">
					<h5>Fundação da Instituição</h5>
					<div class="detail-bottom">
						<ul>
							<li><i class="fa fa-calendar" aria-hidden="true"></i>1910</li>
						</ul>
						<p>Inaugurada a Escola de Aprendizes Artífices de Santa Catarina (EAA), após decreto do Presidente Nilo Peçanha.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 popular-grid pointer" data-toggle="modal" data-target="#modal_tunel_2">
				<img src="../../model/sobre_nos/tunel_do_tempo/2.jpg" class="img-responsive" alt=""/>
				<div class="popular-text">
					<h5>Fundação do Departamento</h5>
					<div class="detail-bottom">
						<ul>
							<li><i class="fa fa-calendar" aria-hidden="true"></i>1987</li>
						</ul>
						<p>Um grupo de professores do Departamento de Eletrotécnica criaram um departamento focado em eletrônica.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 popular-grid pointer" data-toggle="modal" data-target="#modal_tunel_3">
				<img src="../../model/sobre_nos/tunel_do_tempo/3.jpg" class="img-responsive" alt=""/>
				<div class="popular-text">
					<h5>Primeiro curso superior</h5>
					<div class="detail-bottom">
						<ul>
							<li><i class="fa fa-calendar" aria-hidden="true"></i>2002</li>
						</ul>
						<p>O Departamento Acadêmico de Eletrônica passa a ofertar o Curso Superior de Tecnologia em Sistemas Eletrônicos.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 popular-grid pointer" data-toggle="modal" data-target="#modal_tunel_4">
				<img src="../../model/sobre_nos/tunel_do_tempo/4.jpg" class="img-responsive" alt=""/>
				<div class="popular-text">
					<h5>Primeira engenharia</h5>
					<div class="detail-bottom">
						<ul>
							<li><i class="fa fa-calendar" aria-hidden="true"></i>2013</li>
						</ul>
						<p>O Departamento Acadêmico de Eletrônica passa a ofertar o Curso de Engenharia Eletrônica.</p>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="more-button text-center">
			<a href="tunel_do_tempo.html">Saiba mais</a>
		</div>
	</section>

	<!-- Modal Fundação IFSC -->
	<div class="modal fade" id="modal_tunel_1" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4>Fundação da Instituição (1910)</h4>
					<img src="../../model/sobre_nos/tunel_do_tempo/1.jpg" alt="Foto histórica" class="img-rounded img-responsive">
				</div>
				<div class="modal-body">
					<p>O governo de Nilo Procópio Peçanha (1909-1910), mediante o Decreto nº7.566, institui nas capitais dos Estados da República uma Escola de Aprendizes e Artífices para realizar ensino profissional primário gratuito. Em 1º de setembro de 1910, é Inaugurada a Escola de Aprendizes Artífices de Santa Catarina (EAA).</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Fundação DAELN -->
	<div class="modal fade" id="modal_tunel_2" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4>Fundação do Departamento (1987)</h4>
					<img src="../../model/sobre_nos/tunel_do_tempo/2.jpg" alt="Foto histórica" class="img-rounded img-responsive">
				</div>
				<div class="modal-body">
					<p>Um grupo de professores do Departamento de Eletrotécnica criaram um departamento focado em eletrônica. Inicialmente em instalações provisórias, a própria existência do Departamento era uma luta diária.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal CST Sistemas Eletrônicos -->
	<div class="modal fade" id="modal_tunel_3" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4>Primeiro curso superior (2002)</h4>
					<img src="../../model/sobre_nos/tunel_do_tempo/3.jpg" alt="Foto histórica" class="img-rounded img-responsive">
				</div>
				<div class="modal-body">
					<p>O Departamento Acadêmico de Eletrônica passa a ofertar o Curso Superior de Tecnologia em Sistemas Eletrônicos.O Departamento Acadêmico de Eletrônica passa a ofertar o Curso Superior de Tecnologia em Sistemas Eletrônicos.O Departamento Acadêmico de Eletrônica passa a ofertar o Curso Superior de Tecnologia em Sistemas Eletrônicos.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Engenharia Eletrônica -->
	<div class="modal fade" id="modal_tunel_4" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4>Primeira engenharia (2013)</h4>
					<img src="../../model/sobre_nos/tunel_do_tempo/4.jpg" alt="Foto histórica" class="img-rounded img-responsive">
				</div>
				<div class="modal-body">
					<p>O DAELN passa a ofertar o Curso de Engenharia Eletrônica.O DAELN passa a ofertar o Curso de Engenharia Eletrônica.O DAELN passa a ofertar o Curso de Engenharia Eletrônica.O DAELN passa a ofertar o Curso de Engenharia Eletrônica.O DAELN passa a ofertar o Curso de Engenharia Eletrônica.O DAELN passa a ofertar o Curso de Engenharia Eletrônica.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>

	<br>
	<!-- Corpo Docente e Administrativo-->
	<section class="team" id="team">
		<div class="container">
			<h3 class="heading-agileinfo">Corpo Docente e Corpo Administrativo<span>Conheça nosso qualificado staff.</span></h3>
			<div class="agile_team_grids">
				<div class="col-md-3 agile_team_grid">
					<div class="view view-sixth">
						<img src="../../model/sobre_nos/t1.jpg" alt=" " class="img100">
						<div class="mask">
							<h5>Alexandre Leizor</h5>
							<p>Possui doutorado em Engenharia Elétrica pela Universidade Federal do Rio de Janeiro (2014).</p>
							<div class="agileits_social_icons">
								<ul class="agileits_social_list">
									<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<h4>Alexandre Leizor</h4>
					<p>Processamento de áudio</p>
				</div>
				<div class="col-md-3 agile_team_grid">
					<div class="view view-sixth">
						<img src="../../model/sobre_nos/t2.jpg" alt=" " class="img-responsive">
						<div class="mask">
							<h5>Anderson Alves</h5>
							<p>Possui mestrado em Engenharia Elétrica pela Universidade Federal de Santa Catarina (2002).</p>
							<div class="agileits_social_icons">
								<ul class="agileits_social_list">
									<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<h4>Anderson Alves</h4>
					<p>Eletrônica de potência</p>
				</div>
				<div class="col-md-3 agile_team_grid">
					<div class="view view-sixth">
						<img src="../../model/sobre_nos/t3.jpg" alt=" " class="img-responsive">
						<div class="mask">
							<h5>André Dalcastagnê</h5>
							<p>Possui doutorado em Engenharia Elétrica(2007) pela Universidade Federal de Santa Catarina.</p>
							<div class="agileits_social_icons">
								<ul class="agileits_social_list">
									<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<h4>André Dalcastagnê</h4>
					<p>Processamento de sinais</p>
				</div>
				<div class="col-md-3 agile_team_grid">
					<div class="view view-sixth">
						<img src="../../model/sobre_nos/t4.jpg" alt=" " class="img-responsive">
						<div class="mask">
							<h5>Carlos Speranza</h5>
							<p>Possui mestrado em Engenharia Elétrica (sub área de Engenharia Biomédica) pela UFSC (1997).</p>
							<div class="agileits_social_icons">
								<ul class="agileits_social_list">
									<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<h4>Carlos Speranza</h4>
					<p>Engenharia Biomédica</p>
				</div>
				<div class="clearfix"> </div>
				<div class="more-button text-center"><a href="docentes_e_administrativo.html">Saiba mais</a></div>
			</div>
		</div>
	</section>

	<!-- Estrutura Organizacional Social -->
	<section class="team" id="team">
		<div class="container">
			<h3 class="heading-agileinfo">Estrutura Organizacional Social<span>Líderes que nos guiam rumo ao futuro.</span></h3>
			<div class="agile_team_grids">
				<div class="col-md-3 agile_team_grid">
					<div class="view view-sixth">
						<img src="../../model/sobre_nos/e1.jpg" alt=" " class="img-responsive">
						<div class="mask">
							<h5>Muriel de Liz</h5>
							<p>Concluiu o doutorado em Engenharia Elétrica pela Universidade Federal de Santa Catarina em 2003.</p>
							<div class="agileits_social_icons">
								<ul class="agileits_social_list">
									<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<h4>Muriel de Liz</h4>
					<p>Chefe de Departamento</p>
				</div>
				<div class="col-md-3 agile_team_grid">
					<div class="view view-sixth">
						<img src="../../model/sobre_nos/e2.jpg" alt=" " class="img-responsive">
						<div class="mask">
							<h5>Rangél Fernandes</h5>
							<p>Atualmente é Coordenador de Infraestrutura do Instituto Federal de Santa Catarina.</p>
							<div class="agileits_social_icons">
								<ul class="agileits_social_list">
									<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<h4>Rangél Fernandes</h4>
					<p>Coordenador de Infraestrutura</p>
				</div>
				<div class="col-md-3 agile_team_grid">
					<div class="view view-sixth">
						<img src="../../model/sobre_nos/e3.jpg" alt=" " class="img-responsive">
						<div class="mask">
							<h5>Golberi Ferreira</h5>
							<p>Possui doutorado em Engenharia Elétrica pela UFSC e University of Nottingham - UK (1999)</p>
							<div class="agileits_social_icons">
								<ul class="agileits_social_list">
									<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<h4>Golberi Ferreira</h4>
					<p>Coordenador da Eng. Eletrônica</p>
				</div>
				<div class="col-md-3 agile_team_grid">
					<div class="view view-sixth">
						<img src="../../model/sobre_nos/e4.jpg" alt=" " class="img-responsive">
						<div class="mask">
							<h5>André Dalcastagnê</h5>
							<p>Possui doutorado em Engenharia Elétrica (2007) pela Universidade Federal de Santa Catarina.</p>
							<div class="agileits_social_icons">
								<ul class="agileits_social_list">
									<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<h4>André Dalcastagnê</h4>
					<p>Coordenador do Eletrônica</p>
				</div>
				<div class="clearfix"> </div>
				<div class="more-button text-center"><a href="estrutura_organizacional.html">Saiba mais</a></div>
			</div>
		</div>
	</section>
			
	<!-- Infraestrutura -->
	<section class="inner-padding">
		<div class="container">
			<h3 class="heading-agileinfo">Infrarestrura do Departamento<span>Laboratórios modernos e ambientes confortáveis</span></h3>
			<div class="w3ls_portfolio_grids">
				<!-- col 1 -->
				<div class="col-md-4 agileinfo_portfolio_grid">
					<div class="w3_agile_portfolio_grid1">
						<a href="../../model/sobre_nos/g1.jpg" class="showcase" data-rel="lightcase:myCollection:slideshow" title="Laboratório">
							<div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">	
								<div class="w3layouts_port_head">
									<h3>Laboratório 1</h3>
								</div>
								<img src="../../model/sobre_nos/g1.jpg" alt="Laboratório 1" class="img-responsive">
							</div>
						</a>
					</div>
				</div>
				<!-- col 2 -->
				<div class="col-md-4 agileinfo_portfolio_grid">
					<div class="w3_agile_portfolio_grid1">
						<a href="../../model/sobre_nos/g6.jpg" class="showcase" data-rel="lightcase:myCollection:slideshow" title="Multimídia 1">
							<div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">	
								<div class="w3layouts_port_head">
									<h3>Multimídia 1</h3>
								</div>
								<img src="../../model/sobre_nos/g6.jpg" alt="Multimídia 1" class="img-responsive">
							</div>
						</a>
					</div>
				</div>
				<!-- col 3 -->
				<div class="col-md-4 agileinfo_portfolio_grid">
					<div class="w3_agile_portfolio_grid1">
						<a href="../../model/sobre_nos/g5.jpg" class="showcase" data-rel="lightcase:myCollection:slideshow" title="Biblioteca">
							<div class="agileits_portfolio_sub_grid agileits_w3layouts_team_grid">	
								<div class="w3layouts_port_head">
									<h3>Biblioteca</h3>
								</div>
								<img src="../../model/sobre_nos/g5.jpg" alt="Biblioteca" class="img-responsive">
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="more-button text-center"><a href="infraestrutura.html">Saiba mais</a></div>
	</section>

	<!-- Pesquisa -->
	<section class="about-agileits inner-padding container">
		<div class="row">
			<h3 class="heading-agileinfo">Pesquisa<span>Formação variada e multidiscipinar</span></h3>
			<div class="agileits_banner_bottom">
				<p>Pesquisar é legal.Pesquisar é legal.Pesquisar é legal.Pesquisar é legal.Pesquisar é legal.Pesquisar é legal.Pesquisar é legal.Pesquisar é legal.Pesquisar é legal.Pesquisar é legal.Pesquisar é legal.Pesquisar é legal.Pesquisar é legal.Pesquisar é legal.Pesquisar é legal.Pesquisar é legal.Pesquisar é legal.Pesquisar é legal.Pesquisar é legal.Pesquisar é legal.</p>
			</div>
			<div class="more-button text-center"><a href="pesquisa.html">Saiba mais</a></div>			
			<div class="clearfix"> </div>
		</div>
	</section>

	<!-- Extensão -->
	<section class="agileinfo_services_grids inner-padding container">
		<div class="row">
			<h3 class="heading-agileinfo">Extensão<span>Formação variada e multidiscipinar</span></h3>
			<div class="col-sm-4"></div>
			<a href="empresa_junior.html" class="agileinfo_services_grid col-sm-4">
				<div class="agileinfo_services_grid1">
					<i class="fa fa-book" aria-hidden="true"></i>
					<h4>Empresa Júnior</h4>
					<p>Conheça a R2R Tecnologia.Conheça a R2R Tecnologia.</p>
				</div>
			</a>
			<div class="clearfix"> </div>
		</div>
	</section>
	
	<!-- Back to the top -->
	<br><br>
	<a href="#navbar" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

	<!-- Rodapé -->
	<footer id="rodape"></footer>

	<!-- Javascript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../../recursos/js/SmoothScroll.min.js"></script>
	<script src="../../recursos/js/move-top.js"></script>
	<script src="../../recursos/js/easing.js"></script>
	<script src="../../recursos/js/lightcase.js"></script>
	<script src="../../recursos/js/jquery.events.touch.js"></script>
	<script>
		jQuery(document).ready(function($) {
			$().UItoTop({});
			
			$("#navbar").load("../../recursos/html/navbar.html #segundo_nivel", function(){$("#sobre_nos").addClass("active");});
			$("#rodape").load("../../recursos/html/rodape.html #segundo_nivel");	
			
			$('.showcase').lightcase();
		});
	</script>
</body>
</html>