<!-------------------------------------------------------------
Author: 		W3layouts
Author URL: 	http://w3layouts.com
Edited by:		Leonardo Benitez 
License: 		Creative Commons Attribution 3.0 Unported
License URL:	http://creativecommons.org/licenses/by/3.0/
------------------------------------------------------------->

<!DOCTYPE html>
<html>
<head>
	<!-- Definião Iniciais -->
	<title>Tunel do Tempo</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible"	content="IE=edge,chrome=1" />
	<meta name="description"			content="Descubra um pouco mais sobre a história de nosso departameno." />
	<meta name="keywords"				content="Colmeia, DAELN, IFSC" />
	<meta name="author"					content="Leonardo Benitez" />
	<meta name="viewport"				content="width=device-width, initial-scale=1" />
	<meta name="robots" 				content="index,follow" />
	<meta http-equiv="content-language"	content="pt-br" />
	<link rel="icon"					href="../../model/favicon.ico"  type="shortcut icon" />

	<!-- CSS -->
	<link rel="stylesheet"				href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet"				href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet"				href="../../recursos/css/style.css" />	
</head>

<body>
	<!-- Navbar -->
	<nav id="navbar" class="banner inner-banner-w3l"></nav>

	<!-- Conteúdo -->
	<section class="events-agileits-w3layouts inner-padding">
		<h3 class="heading-agileinfo">Túnel do Tempo<span>Experiência e tradição</span></h3>
		<div class="popular-grids">
			<div class="row padding_b_20">
				<div class="col-md-3 popular-grid pointer" data-toggle="modal" data-target="#modal_tunel_1">
					<img src="../../model/sobre_nos//tunel_do_tempo/1.jpg" class="img-responsive" alt=""/>
					<div class="popular-text">
						<h5>Fundação da Instituição</h5>
						<div class="detail-bottom">
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i>1910</li>
							</ul>
							<p>Inaugurada a Escola de Aprendizes Artífices de Santa Catarina.Inaugurada a Escola de Aprendizes Artífices de Santa Catarina.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 popular-grid pointer" data-toggle="modal" data-target="#modal_tunel_1">
					<img src="../../model/sobre_nos//tunel_do_tempo/1.jpg" class="img-responsive" alt=""/>
					<div class="popular-text">
						<h5>Fundação da Instituição</h5>
						<div class="detail-bottom">
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i>1910</li>
							</ul>
							<p>Inaugurada a Escola de Aprendizes Artífices de Santa Catarina.Inaugurada a Escola de Aprendizes Artífices de Santa Catarina.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 popular-grid pointer" data-toggle="modal" data-target="#modal_tunel_1">
					<img src="../../model/sobre_nos//tunel_do_tempo/2.jpg" class="img-responsive" alt=""/>
					<div class="popular-text">
						<h5>Fundação do Departamento</h5>
						<div class="detail-bottom">
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i>1987</li>
							</ul>
							<p>Um grupo de professores do Departamento de Eletrotécnica criaram um departamento focado em eletrônica.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 popular-grid pointer" data-toggle="modal" data-target="#modal_tunel_1">
				<img src="../../model/sobre_nos//tunel_do_tempo/2.jpg" class="img-responsive" alt=""/>
				<div class="popular-text">
					<h5>Fundação do Departamento</h5>
					<div class="detail-bottom">
						<ul>
							<li><i class="fa fa-calendar" aria-hidden="true"></i>1987</li>
						</ul>
						<p>Um grupo de professores do Departamento de Eletrotécnica criaram um departamento focado em eletrônica.</p>
					</div>
				</div>
			</div>
			</div>
			<div class="row padding_b_20">
				<div class="col-md-3 popular-grid pointer" data-toggle="modal" data-target="#modal_tunel_1">
					<img src="../../model/sobre_nos//tunel_do_tempo/3.jpg" class="img-responsive" alt=""/>
					<div class="popular-text">
						<h5>Primeiro curso superior</h5>
						<div class="detail-bottom">
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i>2002</li>
							</ul>
							<p>O Departamento Acadêmico de Eletrônica passa a ofertar o Curso Superior de Tecnologia em Sistemas Eletrônicos.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 popular-grid pointer" data-toggle="modal" data-target="#modal_tunel_1">
					<img src="../../model/sobre_nos//tunel_do_tempo/3.jpg" class="img-responsive" alt=""/>
					<div class="popular-text">
						<h5>Primeiro curso superior</h5>
						<div class="detail-bottom">
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i>2002</li>
							</ul>
							<p>O Departamento Acadêmico de Eletrônica passa a ofertar o Curso Superior de Tecnologia em Sistemas Eletrônicos.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 popular-grid pointer" data-toggle="modal" data-target="#modal_tunel_1">
					<img src="../../model/sobre_nos//tunel_do_tempo/4.jpg" class="img-responsive" alt=""/>
					<div class="popular-text">
						<h5>Primeira engenharia</h5>
						<div class="detail-bottom">
							<ul>
								<li><i class="fa fa-calendar" aria-hidden="true"></i>2013</li>
							</ul>
							<p>O DAELN passa a ofertar o Curso de Engenharia Eletrônica.O DAELN passa a ofertar o Curso de Engenharia Eletrônica.</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 popular-grid pointer" data-toggle="modal" data-target="#modal_tunel_1">
				<img src="../../model/sobre_nos//tunel_do_tempo/4.jpg" class="img-responsive" alt=""/>
				<div class="popular-text">
					<h5>Primeira engenharia</h5>
					<div class="detail-bottom">
						<ul>
							<li><i class="fa fa-calendar" aria-hidden="true"></i>2013</li>
						</ul>
						<p>O DAELN passa a ofertar o Curso de Engenharia Eletrônica.O DAELN passa a ofertar o Curso de Engenharia Eletrônica.</p>
					</div>
				</div>
			</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</section>

	<!-- Modal Fundação IFSC -->
	<div class="modal fade" id="modal_tunel_1" tabindex="-1" role="dialog">
		<div class="modal-dialog">
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4>Túnel do tempo</h4>
					<img src="../../model/sobre_nos//tunel_do_tempo/1.jpg" alt=" " class="img-responsive">
					<h5>Fundação da Instituição</h5>
					<div class="detail-bottom">
						<ul>
							<li><i class="fa fa-calendar" aria-hidden="true"></i>1910</li>
						</ul>
						<p>Inaugurada a Escola de Aprendizes Artífices de Santa Catarina.Inaugurada a Escola de Aprendizes Artífices de Santa Catarina.Inaugurada a Escola de Aprendizes Artífices de Santa Catarina.Inaugurada a Escola de Aprendizes Artífices de Santa Catarina.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Fundação DAELN -->
	<div class="modal fade" id="modal_tunel_2" tabindex="-1" role="dialog">
		<div class="modal-dialog">
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4>Túnel do Tempo</h4>
					<img src="../../model/sobre_nos//tunel_do_tempo/2.jpg" alt=" " class="img-responsive">
					<h5>Fundação do Departamento</h5>
					<div class="detail-bottom">
						<ul>
							<li><i class="fa fa-calendar" aria-hidden="true"></i>1987</li>
						</ul>
						<p>Um grupo de professores do Departamento de Eletrotécnica criaram um departamento focado em eletrônica.Um grupo de professores do Departamento de Eletrotécnica criaram um departamento focado em eletrônica.Um grupo de professores do Departamento de Eletrotécnica criaram um departamento focado em eletrônica.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal CST Sistemas Eletrônicos -->
	<div class="modal fade" id="modal_tunel_3" tabindex="-1" role="dialog">
		<div class="modal-dialog">
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4>Túnel do Tempo</h4>
					<img src="../../model/sobre_nos//tunel_do_tempo/3.jpg" alt=" " class="img-responsive">
					<h5>Primeiro curso superior</h5>
					<div class="detail-bottom">
						<ul>
							<li><i class="fa fa-calendar" aria-hidden="true"></i>2002</li>
						</ul>
						<p>O Departamento Acadêmico de Eletrônica passa a ofertar o Curso Superior de Tecnologia em Sistemas Eletrônicos.O Departamento Acadêmico de Eletrônica passa a ofertar o Curso Superior de Tecnologia em Sistemas Eletrônicos.O Departamento Acadêmico de Eletrônica passa a ofertar o Curso Superior de Tecnologia em Sistemas Eletrônicos.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<!-- Back to the top -->
	<br><br>
	<a href="#navbar" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

	<!-- Rodapé -->
	<footer id="rodape"></footer>

	<!-- Javascript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../../recursos/js/SmoothScroll.min.js"></script>
	<script src="../../recursos/js/move-top.js"></script>
	<script src="../../recursos/js/easing.js"></script>
	<script>
		jQuery(document).ready(function($) {
			$().UItoTop({});
			
			$("#navbar").load("../../recursos/html/navbar.html #segundo_nivel", function(){$("#sobre_nos").addClass("active");});
			$("#rodape").load("../../recursos/html/rodape.html #segundo_nivel");		
		});
	</script>
</body>
</html>