<!-------------------------------------------------------------
Author: 		W3layouts
Author URL: 	http://w3layouts.com
Edited by:		Leonardo Benitez 
License: 		Creative Commons Attribution 3.0 Unported
License URL:	http://creativecommons.org/licenses/by/3.0/
------------------------------------------------------------->

<!DOCTYPE html>
<html>
<head>
	<!-- Definião Iniciais -->
	<title>Estude Conosco</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible"	content="IE=edge,chrome=1" />
	<meta name="description"			content="Página sobre formas de ingresso e outras informações relevantes ao público externo." />
	<meta name="keywords"				content="Ingresso, Colmeia, DAELN, IFSC" />
	<meta name="author"					content="Leonardo Benitez" />
	<meta name="viewport"				content="width=device-width, initial-scale=1" />
	<meta name="robots" 				content="index,follow" />
	<meta http-equiv="content-language"	content="pt-br" />
	<link rel="icon"					href="../../model/favicon.ico"  type="shortcut icon" />

	<!-- CSS -->
	<link rel="stylesheet"				href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet"				href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet"				href="../../recursos/css/style.css" />	
	<link rel="stylesheet"				href="../../recursos/css/lightcase.css"  />

</head>

<body>
	<!-- Navbar -->
	<nav id="navbar" class="banner inner-banner-w3l"></nav>

	<!-- Sobre nós - Introdução -->
	<section class="about-bottom inner-padding">
		<div class="container">
			<h3 class="heading-agileinfo">O que é eletrônica<span>Entenda o que é mundo da eletrônica</span></h3>
			<div class="about-bott-right">
				 <p>Do relógio que está no seu pulso aos fogetes da NASA: a eletrônica está em tudo.Do relógio que está no seu pulso aos fogetes da NASA: a eletrônica está em tudo.Do relógio que está no seu pulso aos fogetes da NASA: a eletrônica está em tudo.Do relógio que está no seu pulso aos supercomputadores da NASA: a eletrônica está em tudo.</p>
			</div>
			<div class="more-button text-center"><a href="o_que_e_eletronica.html">Saiba mais</a></div>
			<div class="clearfix"> </div>
		</div>
	</section>
	
	
	<!-- Cursos Ofertados -->
	<section class="about-bottom inner-padding">
		<div class="container">
			<h3 class="heading-agileinfo">Cursos Ofertados<span>Descubra as opções, faça sua escolha.</span></h3>
			<div class="row">
				<a class="col-xs-6 col-sm-4 				col-md-2 col-md-offset-1"	href="https://curso.ifsc.edu.br/info/graduacao/cstsistemaseletronicos" 					target="_blank" title="Eletrônica Industrial">										<img class="center-block img-circle img-responsive margin_y_20" src="../../model/estude_conosco/cursos/eletronica_industrial.jpg"></a>
				<a class="col-xs-6 col-sm-4 				col-md-2"					href="https://curso.ifsc.edu.br/info/graduacao/engenharia-eletronica" 					target="_blank" title="Engenharia Eletrônica">										<img class="center-block img-circle img-responsive margin_y_20" src="../../model/estude_conosco/cursos/engenharia_eletronica.jpg"></a>
				<a class="col-xs-6 col-sm-4 				col-md-2"					href="https://curso.ifsc.edu.br/info/tecnicointegrado/tecnicointegradoeletronica" 		target="_blank" title="Técnico integrado em Eletrônica">							<img class="center-block img-circle img-responsive margin_y_20" src="../../model/estude_conosco/cursos/integrado_em_eletronica.jpg"></a>
				<a class="col-xs-6 col-sm-4 col-sm-offset-2	col-md-2 col-md-offset-0"	href="https://curso.ifsc.edu.br/info/tecnicosubsequente/tecnicosubsequenteeletronica"	target="_blank" title="Técnico subsequênte em Eletrônica">							<img class="center-block img-circle img-responsive margin_y_20" src="../../model/estude_conosco/cursos/subsequente_em_eletronica.jpg"></a>
				<a class="col-xs-6 col-sm-4 				col-md-2"					href="https://curso.ifsc.edu.br/info/especializacao/especializacao-produtos-eletronicos"target="_blank" title="Pós graduação em desenvolvimentos de produtos eletrônicos">	<img class="center-block img-circle img-responsive margin_y_20" src="../../model/estude_conosco/cursos/desenvolvimento_de_produtos.jpg"></a>
			</div>
			<div class="clearfix"> </div>
		</div>
	</section>
	
	<!-- Formas de ingresso -->
	<section class="about-agile background-2 inner-padding">
		<div class="container">
			<h3 class="heading-agileinfo white-w3ls">Formas de ingresso<span class="yellow-w3ls">Diversas oportunidades pra você estudar conosco</span></h3>
			<p>Veja nossa Manual do Candidato, nossos editais, estatísticas de ingresso e informações sobre cotas, insenções, etc.</p>
			<div class="more-button text-center"><a href="http://www.ifsc.edu.br/ingresso-inicio">Saiba mais</a></div>					
			<div class="clearfix"> </div>
		</div>
	</section>
	
	<!-- Auxílios e bolsas -->
	<section class="about-bottom inner-padding">
		<div class="container">
			<h3 class="heading-agileinfo">Auxílios e bolsas<span>Diversas oportunidades pra você estudar conosco</span></h3>
			<div class="more-button text-center"><a href="http://florianopolis.ifsc.edu.br/index.php?option=com_content&view=article&id=355&Itemid=179">Saiba mais</a></div>					
			<div class="clearfix"> </div>
		</div>
	</section>
	
	<!-- Vida no campus -->
	<section class="agileinfo_services_grids inner-padding container">
		<div class="row">
			<h3 class="heading-agileinfo">Vida no Câmpus<span>Atividades extra-curriculares disponíveis</span></h3>
			<a href="https://www.facebook.com/oexpifsc?lst=100003976076464%3A100001719819668%3A1513182716" target="_blanck" class="col-md-4 agileinfo_services_grid">
				<div class="agileinfo_services_grid1">
					<i class="fa fa-music" aria-hidden="true"></i>
					<h4>Orquestra</h4>
					<p>Conheça esta excelente orquestra formada por estudantes e professores!!</p>
				</div>
			</a>
			<a href="https://www.facebook.com/coralifsc?lst=100003976076464%3A100002300170120%3A1500691702" target="_blanck" class="col-md-4 agileinfo_services_grid">
				<div class="agileinfo_services_grid1">
					<i class="fa fa-group" aria-hidden="true"></i>
					<h4>Coral</h4>
					<p>Conheça este excelente coral formado por estudantes e professores!!</p>
				</div>
			</a>
			<a href="https://teatroifscfpolis.wordpress.com/" target="_blanck" class="col-md-4 agileinfo_services_grid">
				<div class="agileinfo_services_grid1">
					<i class="fa fa-video-camera" aria-hidden="true"></i>
					<h4>Teatro</h4>
					<p>Conheça o Grupo de Teatro Boca de Siri!!</p>
				</div>
			</a>
			<a href="https://www.facebook.com/pg/cineclubeolholho/about/?ref=page_internal" target="_blanck" class="col-md-4 agileinfo_services_grid">
				<div class="agileinfo_services_grid1">
					<i class="fa fa-television" aria-hidden="true"></i>
					<h4>Cineclube</h4>
					<p>O Cineclube Ó Lhó Lhó é tocado pela comunidade e os alunos do IFSC.</p>
				</div>
			</a>
			<a href="http://florianopolis.ifsc.edu.br/index.php?option=com_content&view=article&id=1660:projeto-meditacao-no-campus-retoma-atividades&catid=44:noticias&Itemid=134" target="_blanck" class="col-md-4 agileinfo_services_grid">
				<div class="agileinfo_services_grid1">
					<i class="fa fa-bed" aria-hidden="true"></i>
					<h4>Meditação</h4>
					<p>O projeto Meditação do Campus acontece toda quinta feira no auditório do IFSC.</p>
				</div>
			</a>
			<a href="https://www.facebook.com/pg/clubedeescritaifsc/about/?ref=page_internal" target="_blanck" class="col-md-4 agileinfo_services_grid">
				<div class="agileinfo_services_grid1">
					<i class="fa fa-pencil" aria-hidden="true"></i>
					<h4>Clube da Escrita</h4>
					<p>Nosso ambiente é gostoso e aconchegante, com muita música, livros e imagens legais.</p>
				</div>
			</a>
			<div class="clearfix"> </div>
		</div>
	</section>
	
	<!-- Back to the top -->
	<br><br>
	<a href="#navbar" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

	<!-- Rodapé -->
	<footer id="rodape"></footer>

	<!-- Javascript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../../recursos/js/SmoothScroll.min.js"></script>
	<script src="../../recursos/js/move-top.js"></script>
	<script src="../../recursos/js/easing.js"></script>
	<script src="../../recursos/js/lightcase.js"></script>
	<script src="../../recursos/js/jquery.events.touch.js"></script>
	<script>
		jQuery(document).ready(function($) {
			$().UItoTop({});
			
			$("#navbar").load("../../recursos/html/navbar.html #segundo_nivel", function(){$("#estude_conosco").addClass("active");});
			$("#rodape").load("../../recursos/html/rodape.html #segundo_nivel");	
			
			$('.showcase').lightcase();
		});
	</script>
</body>
</html>